
<div class="about">
  <div class="about__content container">
    <div class="row align-items-center">
      <div class="col-md-5 col-sm-12 about__content__headers">
        <h3>Что такое КБМ?</h3>
        <p>Что же такое КБМ и для чего он используется</p>
      </div>
      <div class="col-md-7 col-sm-12 about__content__content">
        <p style="text-align: center;"><span f_id="roboto_light" style="font-family:roboto;font-style:normal;font-weight:300;"></span><span style="font-size:18px;"><strong>КБМ - коэффициент бонус малус.</strong></span></p>
        <p><span f_id="roboto_light" style="font-family:roboto;font-style:normal;font-weight:300;"></span><span style="font-size:18px;">Это коэффициент, который напрямую влияет на стоимость полиса ОСАГО. Данные об этом коэффициенте хранятся в автоматизированной системе АИС РСА.<br/>Зависит КБМ от безаварийного стажа страхования. Зачастую, при смене водительского удостоверения, из-за халатности или злого умысла страховых агентов, этот коэффициент не верно указывается в полисах ОСАГО, в следствии чего полис становится гораздо дороже и в базе РСА коэффициент становится не верным.<br/>Мы подаем заявки в РСА на восстановление данного коэффициента.<br/>КБМ варьируется от 0,5 до 2,45.<br/>Для примера, для ставки на ОСАГО равной 10 000 рублей, при КБМ=0,5 стоимость полиса будет равна 5000 рублей, а если КБМ=2,45, то уже стоимость полиса будет 24 500 рублей.</span></p>
      </div>
    </div>
  </div>
</div>