
<div class="pro">
  <div class="pro__content container">
    <h2 class="text-uppercase text-center">ЭКОНОМИМ ВАШЕ ВРЕМЯ И НЕРВЫ</h2>
    <p>На сегодняшний день сложилась очень неблагоприятная картина. Практически у всех, кто к нам обратился - КБМ неправомерно сброшен и стоимость на полисы ОСАГО существенно завышена (в большинсвте случаев на 3000-5000 рублей). КБМ можно восстановить и самостоятельно, но это очень долгий и сложный процесс, в итоге времени и сил будет потрачено более чем на 500 рублей, так как страховые компании совершенно не заинтересованны в понижении стоимости полисов ОСАГО.</p>
    <p>Наша компания работает с 2016 года и оказывает услуги по восстановлению КБМ. Наша задача - оперативно передать Вашу заявку в РСА для восстановления КБМ, и своевременно оповестить Вас о восстановлении КБМ.</p>
  </div>
  <div class="pro__buttons container">
    <div class="row justify-content-around">
      <div class="col-md-3 text-center">
        <button class="btn btn-pro" type="button" data-toggle="modal" data-target="#workingOrderModal">Порядок работы</button>
      </div>
      <div class="col-md-3 text-center">
        <button class="btn btn-pro" type="button" data-toggle="modal" data-target="#garantModal">Гарантии</button>
        <!-- Modal-->
      </div>
      <div class="col-md-3 text-center">
        <button class="btn btn-pro" type="button" data-toggle="modal" data-target="#wikbmModal">Что такое КБМ</button>
      </div>
    </div>
  </div>
</div>