
<div class="proposal container">
  <h2>Оформить заявку на восстановление КБМ</h2>
  <p class="proposal__c2a text-light-proposal">Для восстановления КБМ - оформляйте заявку по одной из форм, приведенных ниже</p>
  <h4 class="step">Шаг №1 - оформление заявки</h4>
  <div class="container proposal__forms">
    <div class="row justify-content-around">
      <div class="col-md-5">
        <form id="left-form">
          <p class="proposal__forms__form-header">Заявка на восстановление КБМ с ограниченным количеством водителей</p>
          <div class="form-group">
            <input class="phone form-control" id="phone" type="text" placeholder="Телефон"/><small class="form-text text-muted" id="emailHelp">После ввода проверьте правильность номера телефона</small>
          </div>
          <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Фамилия *" required="required"/>
          </div>
          <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Имя *" required="required"/>
          </div>
          <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Отчество *" required="required"/>
          </div>
          <div class="form-group">
            <input class="birthday form-control" id="exampleInputPassword1" type="text" placeholder="Дата рождения *" required="required"/>
          </div>
          <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Водительское удостоверение *" required="required"/>
          </div>
          <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Предыдущее водительское удостоверение" required="required"/><small class="form-text text-muted" id="for">Заполняется в случае смены в/у и наличия данных предыдущего в/у</small>
          </div>
          <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Email" required="required"/><small class="form-text text-muted" id="emailHelp">Заполняется в случае наличия электронной почты</small>
          </div>
          <div class="form-group">
            <label for="">Выберите предпочтительный для Вас способ оплаты</label>
            <div class="form-check">
              <input class="form-check-input" id="exampleRadios1" type="radio" name="exampleRadios" value="option1" checked=""/>
              <label class="form-check-label" for="exampleRadios1">499 рублей, предоплатой</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" id="exampleRadios2" type="radio" name="exampleRadios" value="option2"/>
              <label class="form-check-label" for="exampleRadios2">999 рублей, постоплатой (оплата по факту понижения КБМ)</label>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Промокод на скидку"/><small class="form-text text-muted" id="promocodeHelp">Заполняется в случае наличия промокода</small>
          </div>
          <div class="text-center">
            <button class="btn btn-info" type="submit">Отправить заявку</button>
            <p class="agreement">Нажимая на кнопку, вы принимаете <a style="color:rgba(50, 136, 230, 1);" href="//1kbm.ru/regulation.html" target="_blank" rel="nofollow">Положение</a> и <a style="color:rgba(50, 136, 230, 1);" href="//1kbm.ru/consent.html" target="_blank" rel="nofollow">Согласие</a> на обработку персональных данных.</p>
          </div>
        </form>
      </div>
      <div class="col-md-5">
        <form id="right-form" action="">
          <p class="proposal__forms__form-header">Заявка на восстановление КБМ с НЕограниченным количеством водителей</p>
          <div class="form-group">
            <input class="phone form-control" id="phone" type="text" placeholder="Телефон"/><small class="form-text text-muted" id="emailHelp">После ввода проверьте правильность номера телефона</small>
          </div>
          <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Фамилия *" required="required"/>
          </div>
          <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Имя *" required="required"/>
          </div>
          <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Отчество *" required="required"/>
          </div>
          <div class="form-group">
            <input class="birthday form-control" id="exampleInputPassword1" type="text" placeholder="Дата рождения *" required="required"/>
          </div>
          <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Паспорт *" required="required"/>
          </div>
          <div class="form-group">
            <select class="form-control" id="infoType" name="info-type">
              <option value="1">выберите тип данных</option>
              <option value="2">VIN</option>
              <option value="3">Номер кузова</option>
              <option value="4">Номер шасси</option>
              <option value="5">Гос. номер</option>
            </select>
          </div>
          <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Введите номер" required="required"/><small class="form-text text-muted" id="for">Выбираете тип данных, а далее вводите соответствующий номер</small>
          </div>
          <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Предыдущее водительское удостоверение" required="required"/><small class="form-text text-muted" id="for">Заполняется в случае смены в/у и наличия данных предыдущего в/у</small>
          </div>
          <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Email" required="required"/><small class="form-text text-muted" id="emailHelp">Заполняется в случае наличия электронной почты</small>
          </div>
          <div class="form-group">
            <label for="">Выберите предпочтительный для Вас способ оплаты</label>
            <div class="form-check">
              <input class="form-check-input" id="exampleRadios1" type="radio" name="exampleRadios" value="option1" checked=""/>
              <label class="form-check-label" for="exampleRadios1">499 рублей, предоплатой</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" id="exampleRadios2" type="radio" name="exampleRadios" value="option2"/>
              <label class="form-check-label" for="exampleRadios2">999 рублей, постоплатой (оплата по факту понижения КБМ)</label>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control" id="exampleInputPassword1" type="text" placeholder="Промокод на скидку"/><small class="form-text text-muted" id="promocodeHelp">Заполняется в случае наличия промокода</small>
          </div>
          <div class="text-center">
            <button class="btn btn-info" type="submit">Отправить заявку</button>
            <p class="agreement">Нажимая на кнопку, вы принимаете <a style="color:rgba(50, 136, 230, 1);" href="//1kbm.ru/regulation.html" target="_blank" rel="nofollow">Положение</a> и <a style="color:rgba(50, 136, 230, 1);" href="//1kbm.ru/consent.html" target="_blank" rel="nofollow">Согласие</a> на обработку персональных данных.</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>