
<div class="sales container">
  <hr/>
  <div class="sales__content text-center">
    <h3>Скидки</h3>
    <p>При одновременном оформлении 2х и более заявок по предоплате - скидки</p><br/><br/>
    <p>2 одновременные заявки - 10% (449р. за каждую заявку)</p>
    <p>3 одновременные заявки - 20% (399р. за каждую заявку)</p>
    <p>4 и более одновременных заявок - 30% (349р. за каждую заявку)</p><br/><br/>
    <p>Для применения скидки, после оформления заявок, свяжитесь с оператором</p>
  </div>
  <hr/>
</div>