
<div class="row justify-content-around">
  <div class="col-md-3 text-center">
    <button class="btn btn-pro" type="button" data-toggle="modal" data-target="#workingOrderModal">Порядок работы</button>
  </div>
  <div class="col-md-3 text-center">
    <button class="btn btn-pro" type="button" data-toggle="modal" data-target="#garantModal">Гарантии</button>
    <!-- Modal-->
  </div>
  <div class="col-md-3 text-center">
    <button class="btn btn-pro" type="button" data-toggle="modal" data-target="#wikbmModal">Что такое КБМ</button>
  </div>
</div>