
<footer class="footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 description">
        <p> <span class="yellow">Сервис восстановления </span>КБМ №1</p>
      </div>
      <div class="col-md-3 contacts">
        <div><img src="img/phone-icon.png" alt="Contact phone"/></div>
        <div>
          <p><a class="tel" href="tel: +7994516356">+7 (999) 451-63-56</a></p>
          <p><a href="whatsapp://send?phone=+79994516356">Whatsapp: +79994516356</a></p>
        </div>
      </div>
      <div class="col geo"><img src="img/location.png" alt="Location"/>
        <div>
          <p>Оказываем услуги по всей России,</p>
          <p>в том числе и в</p><span id="city">г. Алматы</span>
        </div>
      </div>
    </div>
    <div class="credentials text-center">
      <p>ИП Басаргин Алексей Александрович</p>
      <p>ОГРНИП 318547600106060</p>
      <p>ИНН 221003089663</p>
    </div>
  </div>
</footer>