
<header class="header">
  <div class="container">
    <div class="row justify-content-between align-items-center navigation__content">
      <div class="col contacts"><img src="img/phone-icon.png" alt="Contact phone"/>
        <div>
          <p><a class="tel" href="tel: +7994516356">+7 (999) 451-63-56</a></p>
          <p><a href="whatsapp://send?phone=+79994516356">Whatsapp: +79994516356</a></p>
        </div>
      </div>
      <div class="col geo"><img src="img/location.png" alt="Location"/>
        <div>
          <p>Оказываем услуги по всей России,</p>
          <p>в том числе и в <span class="city"></span></p>
        </div>
      </div>
      <div class="col contacts-buttons">
        <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#directorContactsModal">Связь с директором</button>
        <!-- Modal-->
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#partnerShipModal">Стать партнером</button>
        <!-- Modal-->
      </div>
    </div>
  </div>
</header>